<div class="box is-medium">
  <div class="box">
    <div style="margin-bottom: 8px;">
      <figure class="image is-64x64" style="margin: auto;">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>

    <div class="content"> 
      <h3>
        <%= @user.name %>
      </h3>
      <p>
        <%= @user.introduction %>
      </p>
    </div>
  </div>
</div>

<div class="box is-medium">
  <h2 class="title is-4">Skills</h2>
  <h3 class="subtitle">Count: <%= @user.skills.count%></h3>

  <% @skill_categories.each do |category| %>
    <div class="box is-medium">
      <h4 class="title is-6"><%= category.name %></h4>

      <% @user.skills.where(skill_category: category).each do |skill| %>
        <p>
          <%= skill.name %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>