<div class="box is-medium">
  <div class="box">
    <div style="margin-bottom: 8px;">
      <figure class="image is-64x64" style="margin: auto;">
        <%= image_tag 'user_icon.png' %>
      </figure>
    </div>

    <div class="content"> 
      <h3>
        <span class="icon has-text-success">
          <i class="fas fa-user"></i>
        </span>
        <%= @user.name %>
      </h3>
      <p>
        <%= @user.introduction %>
      </p>
    </div>
  </div>
</div>

<div class="box is-medium">
  <h2 class="title is-4">
    <span class="icon has-text-success">
      <i class="fas fa-wrench"></i>
    </span>
    Skills
    <span class="subtitle" style="margin-left: 92px;">Count: <%= @user.skills.count%>
    </span>
  </h2>

  <% @skill_categories.each do |category| %>
    <div class="box is-medium">
      <h4 class="title is-6">
        <span class="icon has-text-success">
          <i class="fas fa-toolbox"></i>
        </span>
        <%= category.name %>
      </h4>

      <% category.skills.each do |skill| %>
        <span class="icon has-text-success">
          <i class="fas fa-check"></i>
        </span>
        <span class="tag is-light"><%= skill.name %></span>
      <% end %>
    </div>
  <% end %>
</div>